.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.home-navbar-interactive {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 10px;
  z-index: 1000;
  position: fixed;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-dark);
}
.home-image {
  height: 55px;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text100 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.home-text101 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  margin-left: var(--dl-space-space-twounits);
}
.home-text102 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  margin-left: var(--dl-space-space-twounits);
}
.home-buttons1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text103 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text104 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text106 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text109 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text110 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  padding-top: 120px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
}
.home-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-text112 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
.home-text115 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 3.5rem;
}
.home-feature2-description10 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description11 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description12 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-feature2-description13 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description14 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-text136 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
.home-text139 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 3.5rem;
}
.home-feature2-description15 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description16 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description17 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-feature2-description18 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description19 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-text160 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
.home-text163 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 3.5rem;
}
.home-feature2-description20 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description21 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description22 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-feature2-description23 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description24 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-text184 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
.home-text187 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 3.5rem;
}
.home-feature2-description25 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description26 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description27 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-feature2-description28 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description29 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-text208 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
.home-text211 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 3.5rem;
}
.home-feature2-description30 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description31 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description32 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
.home-feature2-description33 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.home-feature2-description34 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  line-height: 1.5;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon10 {
    fill: #D9D9D9;
  }
  .home-text103 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text104 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text106 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text109 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text110 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-max-width {
    justify-content: center;
  }
}
