.weather-content-weather-content {
  gap: 48px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
}
.weather-content-row {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.weather-content-feature1 {
  flex: 1;
  flex-direction: row;
}
.weather-content-feature1-image {
  width: var(--dl-size-size-medium);
}
.weather-content-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.weather-content-content1 {
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.weather-content-content2 {
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.weather-content-content3 {
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.weather-content-text11 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  display: inline-block;
}
.weather-content-text14 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 3.5rem;
}
.weather-content-feature2-description15 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.weather-content-feature2-description16 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.weather-content-feature2-description17 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.weather-content-feature2-description18 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.weather-content-feature2-description19 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
@media(max-width: 991px) {
  .weather-content-feature1-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .weather-content-row {
    flex-direction: column;
  }
  .weather-content-feature1-image {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .weather-content-feature1-image {
    width: var(--dl-size-size-medium);
    height: auto;
  }
}
